.mainContent {
  width: 60%;
  overflow: scroll;
  height: 70vh;
}

.carsPageHeader {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carsPageTitle {
  font-size: 60px;
  color: #3f51b5;
  margin-left: 16px;
}

.carRequestbutton {

}
